.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling for the navigation bar */
#navigation-bar {
  background-color: #1b61db;
  height: 3em;
  /* Centre elements vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for links in the navigation bar */
#navigation-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

/* Styling for the buttons in the navigation bar */
#navigation-bar .MuiButtonBase-root {
  /* Overrides the default all-capitalization added to MUI buttons */
  text-transform: none !important;
}

/* Styling for vertical forms, where everything in it is stacked vertically */
#vertical-form-container {
  /* Stack elements vertically */
  display: flex;
  flex-direction: column;
  gap: 1em; /* gap between components */
  padding-bottom: 2em;
}

/* Add styling to the input TextFields inside of the vertical form container */
#vertical-form-container .MuiInputBase-root {
  width: 20em;
}

/* Styling for the div containing the filter/sort dropdowns */
#dropdown-container {
  /* Style as grid display so that it can be displayed properly
   (otherwise it will appear squished when nothing is selected) */
  display: grid;
}

/* Styling for already selected category items in the filter category dropdown */
#selected-category {
  background-color: #0055e9;
  color: white;
}